.App {
  text-align: center;
}
body{

display: flex;
flex-direction: column;
align-items: center;

}
.item{

float: left;

width: 120px;

}
.text-wraper{
float: left;
padding: 20px;
position: relative;
left: 100px;
top: 50px;
}
.bttn-wrapper{


 
padding: 20px;
position: relative;
left: -20px;
top: 100px;
}
.cart-wrapper{


  width: 500px;
  height: 200px;
  border: 1px solid #ccc;
}
.bttn-wrapper>button{


  background-color: red;
  border: 0px;
  padding: 10px;
  border-radius: 4px;
  color: #fff;
}
td{
padding: 10px;


}
.logo{
width: 200px;
height: 200px;
display: flex;
flex-direction: column;
align-items: center;

}
.form-floating
{
width: 200px;
margin: 10px;


}
a{

  margin: 10px;

}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
